.mainCard{
    display: block;
    width: 50%;
}

.line{
    margin:5px 0;
    height:2px;
    background:
      repeating-linear-gradient(90deg,rgb(0, 0, 0) 0 3px,#0000 0 7px)
      /*3px red then 4px transparent -> repeat this!*/
  } 
  .line1{
    margin: 5px 0;
    height: 1px;
    background: black;
  }


.movieDetailCard{
    margin-right: 18px;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    /* color: white; */
}

.detail{
    display: flex;
}
.movieDetail{
    color: #757575;
    font-size: small;
}
.movieTitle{
    font-size: 26px;
    font-weight: 600;
}
.row{
    display: flex;
    gap: 5px;
    margin-top: 10px;
}
.moviePoster{
    border-radius: 14px;
    width: fit-content;
    height: 300px;
    object-fit: cover;
}
.box{
    font-weight: 600;
    border: 1px solid #e0e0e0;
    text-align: center;
    font-size: small;
    border-radius: 5px;
    padding: 1px 12px;
    width: fit-content;
}

.tickectCard{
    padding: 4px 10px;
    background-color: #ffebee;
    border-radius: 8px;
    text-align: center;
    width: 75px;
    font-size: 14px;
    margin-right: 50px;
}

.summaryCard{
    height: 238px;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    font-size: 14px;
    padding: 10px;
}
.rowTitle{
    font-size: 18px;
    color: #101010;
    font-weight: 600;
    line-height: 24px;
}
.rowPadding{
    padding-top: 10px;
}

.bookBtn{
    background-color: #EC407A;
    height: 44px;
    font-size: large;
    border: 0px;
    border-radius: 8px;
    color: white;
    width: -webkit-fill-available;
    margin: 20px 2px;
}

.CancelBtn{
    background-color:white;
    height: 44px;
    font-size: large;
    border: 2px solid #E0E0E0;
    border-radius: 8px;
    /* color: white; */
    width: -webkit-fill-available;
    margin: 20px 2px;
}

.footer{
    display: flex;
    gap: 20px;
}